.centerClass {
  background-color: yellow;
  height: 500px;
  width: 500px;
  text-align: center;
  margin: auto;
  border-radius: 50px;
  padding: 30px;
}
#item{
  margin: 10px;
}
.crossed{
  text-decoration: line-through;
}